*{
	font-family: 'Roboto', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #f5f5f5;
}

code {
  font-size: 80%;
}


footer{
  position: fixed;
  margin-top: 10px;
  height: 70px;
}

footer p{
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0;
}

nav li:hover{
  background-color: #3A749A;
}

.formulario {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: auto;
}
 .form-input{
  width: 80%;
  margin-left: 5%
}

 .form-input div{
  margin: auto;
}

.form-control{
  width: 100%;
  min-width: 270px;
}

.modal-header{
  display: inline;
}

.azuloscuro{
  background-color: #2980B9;
  border: 0;
}

#botones{
  width: 80%;
  display: block;
  margin: auto;
}

.botones{
  display: inline-block;
  margin: auto;
  min-width: 150px;
  max-width: 270px;
  max-height: 100px;
}

.cancelar:hover{
  background-color: #CE131F;
  border: 0;
}

.footer {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.footer-content{
  display: block;
  width: 100%;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.Usuario:hover{
  background-color: #3A749A;
  border: 0;
}

#redes{
  width: 50%;
  float: right;
  display: inline;
  margin-right: 25%;
}

#enlaces-redes{
  display: block;
  width: 60%;
  margin: 0 auto;
}

#enlaces-redes a{
  margin-left: 20%;
}

#Icono-footer{
  margin-left: 15px;
}

#menuUsuario i{
 margin-left: 15px;
}

.dropdown-item:hover {
    background-color: #3A7297;
}

.columna{
    margin: 10px;
}